:root {
    font: menu;
}

body {
    background-color: #1e1e1e;
    color: #e6e2e2;
}

.wrapper {
    display: grid;
    padding: 1rem;
}

.text {
    background-color: salmon;
    color: aliceblue;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 1.3rem;
}

.text:focus {
    outline: none;
}

.h1 {
    font-size: 2.5rem;
    color: aquamarine;
}

.h2 {
    font-size: 2rem;
    color: beige;
}

.h3 {
    font-size: 1.5rem;
    color: green;
}