:root {
    font: menu;
}

body {
    background-color: #1e1e1e;
    color: #e6e2e2;
}

.text {
    background-color: transparent;
    color: aliceblue;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1rem;
    font-size: 1.3rem;
    resize: none;
}

.text:focus {
    outline: none;
}